mobile-examples/.vs/mobile-examples/v16/Server/sqlite3/db.lock
mobile-examples/.vs/mobile-examples/v16/Server/sqlite3/storage.ide-shm
mobile-examples/.vs/mobile-examples/v16/Server/sqlite3/storage.ide
mobile-examples/.vs/mobile-examples/v16/.suo
mobile-examples/.vs/mobile-examples/v16/Server/sqlite3/storage.ide-wal
