mobile-examples/.vs/*
mobile-examples/mobile-examples.Android/obj/Debug/90/mobile-examples.Android.csproj.CoreCompileInputs.cache
mobile-examples/mobile-examples.Android/obj/Debug/90/mobile-examples.Android.csprojAssemblyReference.cache
